<div class="callnumber">
    <h2>Hear about the latest Microsoft AI innovations across work and life. <a href="">Watch the event</a></h2>
</div>
<div class="imgslider">
    <div class="firstimg">
        <div class="imgright">
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Hero-Teams:VP5-1920x600?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=2000&hei=1000&qlt=100&fit=constrain"
                alt="">
            <div class="textleft">
                <h2>The new Microsoft Teams is now generally available</h2>
                <p>Collaborate more effectively with a faster, simpler, smarter, and more flexible Teams.</p>
                <button class="button1">Download now</button>
                <button class="button2">Learn about the new Teams</button>
            </div>
        </div>
    </div>
</div>
<div class="pos">
    <div class="poss">
        <h1>More is possible with Microsoft Teams</h1>
        <p>Simplify collaboration with Teams to level up your work, connect with others for greater impact, and scale
            your business to achieve more.</p>
    </div>
</div>
<div class="crd">
    <div class="cards">
        <div class="card">
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Audience-Enterprise-1?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=786&hei=443&qlt=100&fmt=png-alpha&fit=constrain"
                alt="">
            <a href="">Enterprise</a>
        </div>
        <div class="card">
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Audience-Business-1?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=786&hei=443&qlt=100&fmt=png-alpha&fit=constrain"
                alt="">
            <a href="">Business</a>
        </div>
        <div class="card">
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Audience-Home-1?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=786&hei=443&qlt=100&fmt=png-alpha&fit=constrain"
                alt="">
            <a href="">Home</a>
        </div>
        <div class="card">
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Audience-Education-1?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=786&hei=443&qlt=100&fmt=png-alpha&fit=constrain"
                alt="">
            <a href="">education</a>
        </div>
    </div>
</div>
<div class="newsh1">
    <h1>Explore the latest Teams news</h1>
</div>

<div class="news">
    <div class="cardnews">
        <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Blade003_Panes_653x653_a_2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1306&hei=1306&qlt=100&fmt=png-alpha&fit=constrain"
            alt="">
        <h1>Now two times faster, the new Teams has been reimagined to be simpler, smarter, and more flexible</h1>
        <p>Scale your business to achieve more together with a faster Teams. AI-powered experiences in Teams make
            collaboration smarter and easier. Stay in the flow of work with fewer clicks and a simplified design, and
            collaborate more effectively with people across organizational boundaries.</p>
        <a href="">Learn more</a>
    </div>
    <div class="cardnews">
        <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Blade003_Panes_2_400x400_2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=764&hei=764&qlt=100&fmt=png-alpha&fit=constrain"
            alt="">
        <h1>Drive efficiency with next-generation AI on the frontline</h1>
        <p>Empower your frontline workers with intelligent operations, seamless communication, and trusted experiences.
            Learn about Microsoft's generative AI and automated solutions for your frontline workforce.</p>
        <a href="">Learn more</a>
    </div>
</div>
<div class="dw">
    <div class="dropbtn">
        <ul>
            <div class="meet" id="meet">
                <h3><button class="a">Meet</button></h3>
                <li>
                    <div class="drop1">
                        <p>Host engaging meetings that drive greater impact with features like PowerPoint Live,
                            Microsoft
                            Whiteboard, and AI-generated meeting notes.*</p>
                        <button>Learn more</button>
                    </div>
                </li>
            </div>
        </ul>
        <ul>
        <div class="call">
            <h3><button class="b">Call</button></h3>
            <li>
            <div class="drop2">
                <p>Make and receive calls directly in Teams with advanced features like group calling, voicemail, and
                    call transfers.</p>
                <button>Learn more</button>
            </div>
        </li>
        </div>
    </ul>
    <ul>
        <div class="collaborate">
            <h3><button class="c">Collaborate</button></h3>
            <li>
            <div class="drop3">
                <p>Create shared spaces that keep everyone on the same page with features like channels, shared task
                    lists, and collaborative apps.</p>
                <button>Learn more</button>
            </div>
        </li>
        </div>
    </ul>
    <ul>
        <div class="chats">
            <h3><button class="d">Chat</button></h3>
            <li>
            <div class="drop4">
                <p>Build a fun, more inclusive team culture and connect with others to get things done with features
                    like emojis, suggested replies, and Microsoft Loop components—a table, task, or paragraph that
                    members of a chat can all edit in real time.</p>
                <button>Learn more</button>
            </div>
        </li>
        </div>
    </ul>
    </div>

    <div class="dis">
        <img class="img1" src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Feature-Meet?scl=1&resMode=sharp2&op_usm=1.5,0.65,15,0&qlt=90&fit=constrain" alt="">
            <img class="img2" src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Feature-Call?scl=1&resMode=sharp2&op_usm=1.5,0.65,15,0&qlt=90&fit=constrain" alt="">
            <img class="img3" src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Feature-Collaborate?scl=1&resMode=sharp2&op_usm=1.5,0.65,15,0&qlt=90&fit=constrain" alt="">
            <img class="img4" src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Feature-Chat?scl=1&resMode=sharp2&op_usm=1.5,0.65,15,0&qlt=90&fit=constrain" alt="">
    </div>
</div>
<div class="seetitle">
    <h1>See how companies across industries succeed with Teams</h1>
</div>
<div class="lead">
    <div class="lead1">
        <h2>Leading organizations rely on Teams to modernize their workplaces</h2>
        <p>Hear how L’Oréal, Johnson Controls, M&S, and United have built a culture of togetherness and improved
            business processes with Teams.</p>
        <a href="">Watch the video</a>
    </div>
    <div class="lead1">
        <h2>The Total Economic Impact™ of Microsoft Teams</h2>
        <p>Read The 2023 Total Economic Impact™ of Microsoft Teams, a commissioned study conducted by Forrester
            Consulting, to learn how using Teams delivered a 291% ROI and net benefit value of USD$35 million over three
            years.</p>
        <a href="">Read the study</a>
    </div>
</div>
<div class="ex">
    <h1>Explore Teams tips and tricks</h1>
</div>
<div class="chat">
    <div class="phone">
        <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/TipsandTricks-TogetherEmojis?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=786&hei=443&qlt=100&fmt=png-alpha&fit=constrain"
            alt="">
        <h1>Keep chats playful with together emojis in Teams</h1>
        <p>Celebrate a job well done with coworkers using new interactive together emojis that can high-five each other,
            clink glasses, and enjoy a slice of pizza.</p>
        <a href="">Read the story</a>
    </div>
    <div class="phone">
        <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/TipsandTricks-StayProductive?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=786&hei=443&qlt=100&fmt=png-alpha&fit=constrain"
            alt="">
        <h1>Stay productive on the go with Teams Phone</h1>
        <p>Use transcriptions to capture and find important details from a meeting when you’re on the move and can’t
            take notes, or seamlessly transfer a call from your laptop to a mobile device with Teams Phone.</p>
        <a href="">Learn more</a>
    </div>
</div>
<div class="start">
    <div class="sleft">
        <h1>Get started with Microsoft Teams today</h1>
        <button class="sign">Sign up for free</button>
        <button class="download">Download App</button>
    </div>
    <div class="sright">
        <div class="ico">
            <div class="ic">
                <i class="ri-home-4-line"></i>
            </div>
            <div class="hbee">
                <h1>Home</h1>
                <a href="">Learn more</a>
            </div>
        </div>

        <div class="ico">
            <div class="ic">
                <i class="ri-profile-line"></i>
            </div>
            <div class="hbee">
                <h1>Business</h1>
                <a href="">Learn more</a>
            </div>
        </div>

        <div class="ico">
            <div class="ic">
                <i class="ri-building-line"></i>
            </div>
            <div class="hbee">
                <h1>Enterprise</h1>
                <a href="">Learn more</a>
            </div>
        </div>

        <div class="ico">
            <div class="ic">
                <i class="ri-home-4-line"></i>
            </div>
            <div class="hbee">
                <h1>Education</h1>
                <a href="">Learn more</a>
            </div>
        </div>
    </div>
</div>
<div class="ai">
    <a href="">[*]</a>
    <p>AI-generated meeting notes are currently available in Microsoft Teams Premium only.</p>
</div>
<div class="follow">
    <h1>Follow Microsoft</h1>
    <i class="ri-facebook-fill"></i>
    <i class="ri-twitter-x-fill"></i>
    <i class="ri-youtube-fill"></i>
</div>