<div class="callnumber">
  <h2><a href="https://www.microsoft.com/en-in/microsoft-365/support?icid=MSCOM-Alert_M365-Support_Oct2023_en-sg">Require assistance with Microsoft 365 Call 0008004402127 to inquire or make a purchase.</a></h2>
</div>
<div class="imgslider">
  <div class="firstimg">
    <div class="imgright">
      <img id="img1"
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Slim-Multi-Canvas-M365-Anthem-Attract-Image-Create:VP5-1920x600"
        alt="">
      <div class="textleft">
        <h2>Maximise the everyday with Microsoft 365</h2>
        <p>Get online protection, secure cloud storage and innovative apps designed to fit your needs – all in one
          plan.</p>
        <button>For one person</button>
        <a href="https://www.microsoft.com/en-in/microsoft-365/p/microsoft-365-family/cfq7ttc0k5dm?icid=mscom_marcom_H1b_M365Family&activetab=pivot:overviewtab">For up to six people</a>
      </div>
    </div>
  </div>
  <div class="secimg">
    <div class="imgleft">
      
      <img id="img2"
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Surface-Pro-9-M1-Family-02-1:VP5-1920x600"
        alt="">
      <div class="textright">
        <h2>Surface Pro 9</h2>
        <p>Tablet versatility and laptop power — all in one ultra-portable device</p>
        <button>Learn more</button>
      </div>
    
    </div>
  </div>
  <div class="btnsa">
    <button id="btn1">1</button>
    <button id="btn2">2</button>
  </div>
  
</div>
<div class="col-xs-3">
  <div class="icons">
    <div class="ficon">
      <img class="aicon"
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/icon-LL-Windows-Logo-80x80?wid=40&hei=40"
        alt=""><br>
      <a class="windowtitle" href="https://www.microsoft.com/en-in/microsoft-365/buy/compare-all-microsoft-365-products?icid=MSCOM_QL_M365">Choose your Microsoft 365</a>
    </div>
    <div class="ficon">
      <img class="bicon"
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/icon-LL-Tablet-Kickstand-Landscape-Mode-Fluent-80x80?wid=40&hei=40"
        alt=""><br>
      <a class="windowtitle" href="https://www.microsoft.com/en-in/surface?icid=MSCOM_QL_Surface">Explore Surface devices</a>
    </div>
    <div class="ficon">
      <img class="cicon"
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/icon-LL-Xbox-Logo-80x80?wid=40&hei=40"
        alt=""><br>
      <a class="windowtitle" href="https://www.microsoft.com/en-in/store/b/xbox?icid=MSCOM_QL_Xbox">Buy Xbox games</a>
    </div>
    <div class="ficon">
      <img class="dicon"
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/icon-LL-Windows-Logo-80x80?wid=40&hei=40"
        alt=""><br>
      <a class="windowtitle" href="https://www.microsoft.com/en-in/windows/get-windows-11?icid=MSCOM_QL_Windows">Get Windows 11</a>
    </div>
  </div>
</div>
<div class="crd">
  <div class="cards">
    <div class="card">
      
      <img
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Content-Card-Surface-Laptop-5-M1-Platinum-01-1?wid=380&hei=213&fit=crop"
        alt="">
      <h1>Surface Laptop 5</h1>
      <p>Sophisticated style and multitasking speed powered by 12th Gen Intel® Core, with Windows 11.</p>
      <a href="https://www.microsoft.com/en-in/surface/devices/surface-laptop-5?icid=mscom_marcom_CPH1a_SurfaceLaptop5&activetab=pivot:overviewtab">Learn more</a>
    
    </div>
    <div class="card">
     
      <img
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Surface-Laptop-Studio-01-CP?wid=380&hei=213&fit=crop"
        alt="">
      <h1>Surface Laptop Studio</h1>
      <p>Flex your creative muscle on the most powerful Surface Laptop. Now available with Windows 11.</p>
      <a href="">Learn more</a>
    
    </div>
    <div class="card">
      
      <img
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-XSX-CP-Xbox-Series-X?wid=380&hei=213&fit=crop"
        alt="">
      <h1>Xbox Series X</h1>
      <p>The fastest, most powerful Xbox ever.</p>
      <a href="">Shop Xbox Series X</a>
    
    </div>
    <div class="card">
      
      <img
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-XSS-CP-Xbox-Series-S-Evergreen?wid=380&hei=213&fit=crop"
        alt="">
      <h1>Xbox Series S</h1>
      <p>Next-gen performance in the smallest Xbox ever.</p>
      <a href="">Shop Xbox Series S</a>
    
    </div>
  </div>
</div>
<div class="firstimg">
  <div class="aiimg">
    <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Bing-AI-Open-Preview:VP5-1596x600"
      alt="">
    <div class="textleft">
      <h2>Announcing the next wave of AI innovation</h2>
      <p>The new Microsoft Bing and Edge will soon feature more visual search responses, chat history, and persistent
        chat within Edge. We’re also adding actions to help people complete tasks.</p>
      <button>Learn more about it</button>

    </div>
  </div>
</div>
<h1 class="business">For business</h1>
<div class="crd">
  <div class="cards">
    <div class="card">
      <img
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-Surf-CP-SurfaceFamilyForBusiness?wid=380&hei=213&fit=crop"
        alt="">
      <h1>Surface for Business</h1>
      <p>Sophisticated style and multitasking speed powered by 12th Gen Intel® Core, with Windows 11.</p>
      <a href="">Learn more</a>
    </div>
    <div class="card">
      <img
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-CP-Microsoft-Teams-Commercial?wid=380&hei=213&fit=crop"
        alt="">
      <h1>Get Microsoft Teams for free</h1>
      <p>Flex your creative muscle on the most powerful Surface Laptop. Now available with Windows 11.</p>
      <a href="">Learn more</a>
    </div>
    <div class="card">
      <img
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Content-Card-Microsoft-365-For-Business-Woman-Teams-Call?wid=380&hei=213&fit=crop"
        alt="">
      <h1>Try Microsoft 365 for free</h1>
      <p>The fastest, most powerful Xbox ever.</p>
      <a href="">Shop Xbox Series X</a>
    </div>
    <div class="card">
      <img
        src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Content-Card-Azure-AI-Bloom?wid=380&hei=213&fit=crop"
        alt="">
      <h1>Join the era of AI</h1>
      <p>Next-gen performance in the smallest Xbox ever.</p>
      <a href="">Shop Xbox Series S</a>
    </div>
  </div>
</div>
<div class="follow">
  <h1>Follow Microsoft</h1>
  <i class="ri-facebook-fill"></i>
  <i class="ri-twitter-x-fill"></i>
  <i class="ri-youtube-fill"></i>
</div>