<div class="body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="first">
            <div>
                <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Blade001_Area_Heading-VP5_Desktop_1920x720?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1920&qlt=75&fit=constrain"
                    alt="" style="width: 100%;">
                <div id="ms365">
                    <h3>Office is now Microsoft 365</h3>
                    <h3>Boost productivity with Microsoft Word, Excel, PowerPoint, Microsoft Teams, and more—all in one
                        place.</h3>
                </div>
            </div>
            <div id="bu">
                <button class="one">Personal and family</button>
                <button class="one">Business</button>
                <button class="one">Enterprise</button>
                <button class="one">Education</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h3>Discover what’s happening with Microsoft 365</h3>
    </div>
    <div class="sec">
        <div class="box">
            <label for="">Introducing Microsoft 365 Copilot</label>
            <p>The new Microsoft 365 Copilot experience works alongside you, embedded in the apps you use every
                day—Word, Excel, PowerPoint, Outlook, Teams, and more. It combines the power of language models with
                your business data and context—including all your Microsoft 365 apps, documents, and conversations.</p>
            <a href="">Learn more ></a>
            <a href="">Watch the video</a>
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Blade003_Introducing%20_665x665_x2_jpg?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1330&hei=1330&qlt=100&fmt=png-alpha&fit=constrain"
                alt="">
        </div>
        <div class="boxs">
            <label for="">Create stunning designs in a flash, powered by AI</label>
            <p>Easily craft social posts, invitations, and one-of-a-kind designs with Microsoft Designer, a new
                AI-powered graphic design app, now available in preview.1 Get tailored suggestions and create unique
                designs that meet your creative needs.</p>
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Blade003_Create_by_design_390x390_x2_jpg?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=382&hei=382&qlt=100&fmt=png-alpha&fit=constrain"
                alt="">
            <a href="">Get started now ></a>
            <a href="">Watch the video</a>
        </div>
        <div class="boxs">
            <label for="">The 2023 Microsoft Work Trend Index: Will AI Fix Work?</label>
            <p>Next-generation AI has the power to fuel productivity and innovation. Discover three urgent insights,
                based on the latest research from Microsoft, that business leaders must know in the race to adopt AI.
            </p>
            <a href="">Read the report ></a>
            <img src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Blade003_The%202023%20Microsoft_390x390_x2_jpg?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=780&qlt=100&fmt=png-alpha&fit=constrain"
                alt="">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h3>Stay connected and get things done with Microsoft 365</h3>
    </div>
</div>

